@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@import "bootstrap/scss/bootstrap";

.card {
  width: 350px;
  height: 500px;
  position: relative;
  background-color: none;
  background-color: #191919;
  padding: 0;
  margin: 1rem 0;
  border-radius: 0;

  .card-cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;

    .img-default {
      position: relative;

      i {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
      }
    }

    img {
      width: 100%;
    }
  }

  .card-details {
    overflow: hidden;
    position: absolute;
    top: 0;
    padding: 1rem;
    color: rgb(214, 214, 214);
    border: none;
    height: 500px;

    h3 {
      height: 100px;
      padding-bottom: 2rem;
      text-align: center;
      vertical-align: baseline;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        height: 50px;
        padding: 10px 0;
        &.serie-details,
        &.movie-details {
          overflow-y: auto;
          min-height: 150px;
          height: 150px;
        }
        i {
          color: grey;

          &.active {
            color: goldenrod;
          }
        }
        span {
          padding-right: 1.5rem;
          font-weight: 600;
          color: #e6020c;
        }
      }
    }
  }
}
